#!/usr/bin/env python3
# simple http reqeust url 
# we don't check user input
# $1 url
# $2 response code
# $3 announce ip
# $4 AS number to prepend
# $5 Time to wait between checks

import urllib.request
import sys
import time
code=""
t=int(sys.argv[5])
while True:
  msg=""
  try:
    code = str((urllib.request.urlopen(str(sys.argv[1])).getcode()))
  except urllib.error.HTTPError:
    pass
  except:
    code="500"
    msg = "withdraw route " + sys.argv[3]

  if str(code) == str(sys.argv[2]):
    msg = "announce route " + sys.argv[3] + " next-hop self as-path [ "+ sys.argv[4] + " ]"
  else:
    msg = "withdraw route " + sys.argv[3]

  sys.stdout.write(msg + '\n')
  msg=""
  sys.stdout.flush()
  time.sleep(t)
sys.exit(1)
